@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.dark-flow .react-flow__pane {
  background-color: #1a1a1a;
}
