@import "tailwindcss";

@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  [data-overlay-container] {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  .dark-flow .react-flow__pane {
    background-color: #1a1a1a;
  }
}
